body {
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  font-family: 'Montserrat, sans-serif';
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6f6;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.sub-intro {
  font-weight: normal;
}

.welcome-message {
  color: #40514E;
  width: 30%;
  margin: auto;
}

.top-Container {
  background-color: #FFF5EB;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  /* background-color: #DEEDF0; */
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.profile-pic {
  margin-top: 50px;
}

.dev-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.exp-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 55%;
  margin: 40px auto 60px;
}

.contact-me {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 14px;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-me:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.footer-link {}

/* Style pallet
#2F5D62
#5E8B7E
#A7C4BC
#DFEEEA
*/