body {
  margin: 0;
  color: white;
}

h1 {
  margin-top: 0;
}

/* div {
  background-color: #2F5D62;
} */
.topContainer {
  background-color: #2F5D62;
}

.midContainer {
  background-color: red;
  height: 200px;
  width: 200px;
}

.botContainer {
  background-color: blue;
  height: 200px;
  width: 200px;
}

/* Style pallet
2F5D62
5E8B7E
A7C4BC
DFEEEA
*/
